<mat-card>
  <mat-card-header>
    <mat-card-title>Secondary Level</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-loading" *ngIf="isLoading$ | async">
      <mat-spinner [diameter]="45" [strokeWidth]="5"></mat-spinner>
    </div>
    <form [formGroup]="secondaryForm" fxLayout="column" fxLayoutGap="20px">

      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field fxFlex>
            <input matInput #fname maxlength="150" placeholder="School Name" formControlName="educSecondarySchool" required>
            <mat-hint align="end">{{ fname.value?.length || 0 }}/150</mat-hint>
            <mat-error>
              School Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput #mname maxlength="150" placeholder="Address" formControlName="educSecondaryAddress" required>
            <mat-hint align="end">{{ mname.value?.length || 0 }}/150</mat-hint>
            <mat-error>
              School Address is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput #lname maxlength="150" placeholder="School Year" formControlName="educSecondaryYear" required>
            <mat-hint align="end">{{ lname.value?.length || 0 }}/150</mat-hint>
            <mat-error>
              School Year is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div fxFlex fxLayoutAlign="center center">
        <button [disabled]="secondaryForm.invalid || secondaryForm.pristine" (click)="save()" mat-raised-button color="accent" type="button">Save Changes</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>