.app-toolbar {
  height: 24px;
  width: 100%;
}

.profile-button {
  margin-left: 1rem !important;
}

.profile-image img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.title-toolbar {
  min-height: 34px;
  background: rgba(255, 255, 255, 0.87);
}

.title-bar {
  width: 100%;
  height: 36px;
}

.title-text {
  font-size: 20px;
  font-weight: 300;
}
