<mat-card>
  <mat-card-header>
    <mat-card-title>CHANGE PASSWORD</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-loading" *ngIf="isLoading$ | async">
      <mat-spinner [diameter]="45" [strokeWidth]="5"></mat-spinner>
    </div>
    <form [formGroup]="profileForm" fxLayout="column" fxLayoutGap="20px">

      <mat-form-field fxFlex>
        <input matInput type="password" placeholder="Password" formControlName="oldPassword" required>
        <mat-error *ngIf="profileForm.get('oldPassword').hasError('required')">
          Old Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="password" placeholder="New Password" formControlName="password" required>
        <mat-error *ngIf="profileForm.get('password').hasError('required')">
          New Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword" required>
        <mat-error *ngIf="profileForm.get('confirmPassword').hasError('required')">
          Confirm New Password is required
        </mat-error>
        <mat-error *ngIf="profileForm.get('confirmPassword').hasError('passwordMatch')">
          Password does not match
        </mat-error>
      </mat-form-field>


      <div fxFlex fxLayoutAlign="center center">
        <button [disabled]="profileForm.invalid" (click)="changePassword()" mat-raised-button color="accent" type="button">Change Password</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>