<mat-card>
  <mat-card-header fxLayout="row" fxLayoutWrap>
    <div fxFlex fxLayoutAlign="start start">
      <app-search-bar [query]="searchQuery$ | async" (search)="search($event)"></app-search-bar>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button matTooltip="Click to create new record" mat-raised-button color="accent" (click)="create()">Create New Record</button>
    </div>
  </mat-card-header>

  <mat-card-content>

    <div class="table-loading" *ngIf="(isLoading$ | async) && !(isLoaded$ | async)">
      <mat-spinner [diameter]="45" [strokeWidth]="5"></mat-spinner>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" matSortDisableClear>

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="salaryTypeCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.salaryTypeCode}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="salaryTypeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.salaryTypeName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button matTooltip="Click to update this record" matTooltipPosition="above" mat-raised-button color="accent" (click)="update(row.salaryTypeTableHash)">Update</button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="pageLength$ | async" [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent($event)">
    </mat-paginator>

  </mat-card-content>


</mat-card>