<mat-card>
    <mat-card-header fxLayout="row" fxLayoutWrap>
        <div fxFlex fxLayoutAlign="start start">
            <app-search-bar [query]="searchQuery$ | async" (search)="search($event)"></app-search-bar>
        </div>
    </mat-card-header>

    <mat-card-content>

        <div class="table-loading" *ngIf="isLoading$ | async">
            <mat-spinner [diameter]="45" [strokeWidth]="5"></mat-spinner>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" matSortDisableClear>

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="profileImage">
                <mat-header-cell *matHeaderCellDef>Profile Image</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div class="avatar-photo">
                        <img [src]="row.profileImage">
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="employeeNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Number</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.employeeNumber }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.lastName }}, {{ row.firstName }} {{ row.middleName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="positionName">
                <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.positionName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="empploymentStatusName">
                <mat-header-cell *matHeaderCellDef>Employment Status</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.employmentStatusName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="employeeStatusName">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.employeeStatusName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> View Details </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button matTooltip="Click to view more details" matTooltipPosition="above" mat-raised-button color="accent" (click)="goToDetails(row)">View Details</button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="pageLength$ | async" [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent($event)">
        </mat-paginator>

    </mat-card-content>


</mat-card>