<form [formGroup]="contractTypeForm">

    <h2 align="center" mat-dialog-title>Contract Type</h2>
    <mat-dialog-content>

        <mat-form-field>
            <input matInput #code placeholder="Code" maxlength="20" formControlName="contractTypeCode" appUniqueValidator keyUrl="contract/types/verify"
                keyId="{{ getCurrentId() }}" keyField="contractTypeCode" required>
            <mat-hint align="end">{{code.value?.length || 0}}/20</mat-hint>
            <mat-error *ngIf="contractTypeForm.get('contractTypeCode').hasError('asyncInvalid')">
                Contract Type Code must be unique
            </mat-error>
            <mat-error *ngIf="contractTypeForm.get('contractTypeCode').hasError('required')">
                Contract Type Code is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput #name maxlength="150" formControlName="contractTypeName" placeholder="Name" appUniqueValidator keyUrl="contract/types/verify"
                keyId="{{ getCurrentId() }}" keyField="contractTypeName" required>
            <mat-hint align="end">{{name.value?.length || 0}}/150</mat-hint>
            <mat-error *ngIf="contractTypeForm.get('contractTypeName').hasError('asyncInvalid')">
                Contract Type Name must be unique
            </mat-error>
            <mat-error *ngIf="contractTypeForm.get('contractTypeName').hasError('required')">
                Contract Type Name is required
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <div *ngIf="!(isSaving$ | async); else saving">
            <button mat-raised-button [disabled]="contractTypeForm.invalid || contractTypeForm.pristine" (click)="submitForm()" color="accent">Save</button>
            <button mat-raised-button (click)="closeDialog()" color="warn">Cancel</button>
        </div>
        <ng-template #saving>
            <mat-progress-spinner mode="indeterminate" [diameter]="35" [strokeWidth]="2" color="primary"></mat-progress-spinner>
        </ng-template>
    </mat-dialog-actions>

</form>